annotated-types==0.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
mypy==1.15.0
mypy-extensions==1.0.0
pydantic==2.11.2
pydantic-core==2.33.1
pylgate @ git+https://github.com/DonutByte/pylgate.git@04962e1a40682856226306c26b541750528a8170
python-dotenv==1.0.1
requests==2.32.3
schedule==1.2.2
types-requests==2.32.0.20250328
typing-extensions==4.13.1
typing-inspection==0.4.0
urllib3==2.3.0
